fangpt.wx005.com {
	reverse_proxy /v1/* https://api.wx005.com {
		header_up Host api.wx005.com
		header_up Authorization "{http.request.header.Authorization}"
		header_up Authorization "Bearer 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"
	}

	file_server / {
		root /var/wwwroot/chatgpt-web
		index index.html
	}
}
